@import 'base';

*, *:after, *:before {

	@include box-sizing(border-box);

}

html, body {

	height: 100%;

}

body {

	font: {

		family: $primary-font;

	}

	background-color: $background;

}


/* --------------------------------

Main

-------------------------------- */
.container {
	height: 100%;
}

.cd-main-content {
	height: 100%;
	background-color: $color-1;
	z-index: $main-zindex;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	@include transition-property (transform);
	@include transition-duration(.5s);

	&.move-out {

		@include transform(scale(.8));

	}

	.no-js & {

		height: auto;
		overflow-x: auto;
		overflow-y: auto;

	}

}


.cd-menu-trigger {


	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	line-height: 50px;
	padding: 0 .8em;


	span {

		position: relative;
		display: inline-block;
		width: 33px;
		height: 2px;
		background-color: $txt-color2;
		vertical-align: middle;
		margin-left: 10px;
		@include transform(translateY(-2px));


		&::before, &::after {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: inherit;

			@include transition(all .2s);
		}

		&::before {
			top: -10px;
		}

		&::after {
			bottom: -10px;
		}
	}

	.no-touch &:hover span::before {
		top: -13px;
	}

	.no-touch &:hover span::after {
		bottom: -13px;
	}

	@media only screen
			and (min-width: 768px) {
		top: 16px;
		right: 10px;
		@include font-size(16px);
	}


}

.main-nav {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #EB497B;

	.footer {

		width:100%;
		position:absolute;
		bottom:0;
		left:0;

		p {

			text-align: center;
			color: #fff;
			font-size: .7em;
			padding: 10px;

		}

	}

	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	@include transform(translateY(-100%));

	@include transition-property (transform);
	@include transition-duration(.5s);

	z-index: $nav-zindex;

	ul {
		height: 90%;
	}

	li {

		height: 90% / $menu-items-number;

		a {

			text-transform: uppercase;
    	font-family: 'phosphateinlineroman';
			letter-spacing: .12em;
			position: relative;
			display: block;
			padding: 0 10%;
			height: 100%;
			border-bottom: 1px solid darken(#fff, .5%);
			color: $txt-color2;
			font-size: 1.3em;


			span {
				position: absolute;
				@include center;
			}

			.no-touch &:hover {
				background-color: #f5f5f5;
				color: $txt-color1;
			}
		}

		&:last-child a {
			border-bottom: none;
		}

	}

	.cd-close-menu {

		position: absolute;
		top: 13px;
		right: 10px;
		display: inline-block;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background-color: #26272D;


		@media only screen
			and (max-width: 768	px) {

			top: 10px;
			right: 10px;

		}

		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;

		&::before, &::after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 18px;
			left: 10px;
			width: 20px;
			height: 3px;
			background-color: #FFF;

			@include transition-property (transform);
			@include transition-duration(.5s);
		}

		&::before {
			@include transform(rotate(45deg));
		}

		&::after {
			@include transform(rotate(135deg));
		}

		.no-touch &:hover {
			&::before {
				@include transform(rotate(225deg));
			}

			&::after {
				@include transform(rotate(315deg));
			}
		}
	}

	&.is-visible {
		box-shadow: 0 0 20px rgba(#000, .4);
		@include transform(translateY(0));
	}

	.no-js & {
		position: static;
		@include transform(translateY(0));

		.cd-close-menu {
			display: none;
		}
	}
}

.cd-intro {

	position: relative;
	height: 100%;
	background-color: $bg-color;
	background-size: cover;

	h1 {

		position: absolute;
		@include center;
		text-align: center;
		font-weight: bold;
		color: $txt-color1;

	}

	p {

		position: absolute;
		@include center;
		margin-top: 193px;
		font-size: .8em;
		color: #c4c4c4;
		width: 270px;
		margin-left: 8px;

		a {
			text-decoration: none;
			border-bottom: 1px solid #c4c4c4;
			color: #c4c4c4;
		}

	}

	.logo {

		position: absolute;
		@include center;
		width: 280px;
		margin-top: -100px;

	}

	.no-js & {

		height: 640px;

	}

}

.error-message {
	color: #EB497B;
}

.login {

	position: absolute;
	@include center;
	width: 270px;
	margin-top: 100px;

	button {

		margin-top: 10px;
		background-color: #EB497B;
		border: none;
		outline: none;
		border-radius: 2px;
		width: 270px;
		padding: 15px;
		color: #C4C4C4;
		cursor: pointer;

	}

}

input {

	width: 100%;
	margin-bottom: 10px;
	background: #26272D;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #C4C4C4;
	border-radius: 4px;
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;

}

input:focus {

	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);

}

// Register page

.default	 {

	position: absolute;
	@include center;
	width: 270px;
	margin-top: -0px;

	button {

		margin-top: 10px;
		background-color: #EB497B;
		border: none;
		outline: none;
		border-radius: 2px;
		width: 270px;
		padding: 15px;
		color: #C4C4C4;
		cursor: pointer;
		margin-bottom: 10px;

	}

	.titlebg {

		width: 280px;

	}

	a {

		float: right;
		text-decoration: none;
		color: #c4c4c4;
		font-size: .8em;
		border-bottom: 1px solid #c4c4c4;

	}

}

// Slotmachine

.slotmachine {

	position: absolute;
	@include center;
	width: 270px;
	margin-top: 180px;

	img {
		margin-left: 7px;
	}

	#slots {

		position: absolute;
		@include center;
		width: 280px;
		margin-top: -29px;
		padding-left: 36px;
		z-index: 1;

		.slot {
	    position: relative;
	    width: 41px;
	    height: 64px;
	    overflow: hidden;
	    margin-top: 18px;
	    text-align: center;
	    z-index: 1;
	    margin-right: 8px;
	    float: left;
		}
	}
}

.animating {
    -webkit-animation: mymove 1s linear;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 4;  /* Chrome, Safari, Opera */
    animation: mymove 1s linear;
    animation-iteration-count: 4;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {margin-top: -255px;}
    to {margin-top: 0px;}
}

@keyframes mymove {
    from {margin-top: -255px;}
    to {margin-top: 0px;}
}

.canvasResult {
    position: absolute;
    margin-top: -68px;
    z-index: 0;
}

.canvas {
    position: relative;
    z-index: -1;
}

.slotbutton {

	  font-family: 'phosphateinlineroman';
		text-transform: uppercase;
		font-size: 1.3em;
		position: absolute;
		@include center;
		width: 280px;
		margin-top: 335px;
		background-color: #EB497B;
		border: none;
		outline: none;
		border-radius: 2px;
		padding: 15px;
		color: #fff;
		cursor: pointer;

	}

.default {

	width: 270px;
	margin-top: 20px;

}

.mainApp {

	position: absolute;
	@include center;
	width: 270px;
	margin-top: -150px;

}

.title {

	.titlebg2 {

		width: 270px;

	}

	p {

    font-family: 'rangeritalic_shadow';
		color: #1D1D21;
		text-align: center;
		margin-top: 0px;
		font-size: 1.5em;
		margin-top: 15px;
		margin-left: -3px;
	}

}

.rouletteSVG {
	width: 230px;
	margin-top: 25px;
	position: absolute;
	left: 50%;
	margin-left: -115px;
	margin-top: 295px;

	@media only screen
	and (max-width: 500px) {

		margin-top: 140px;

	}

   -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

}

.rouletteBol {
	width: 230px;
	margin-top: 25px;
	position: absolute;
	left: 50%;
	margin-left: -115px;
	margin-top: 295px;

	@media only screen
	and (max-width: 500px) {

		margin-top: 140px;

	}

   -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

}

.btnProceed {

	text-transform: uppercase;
	font-family: 'phosphateinlineroman';
	position: absolute;
	@include center;
	width: 270px;
	padding: 10px;
	font-size: 1.1em;
	cursor: pointer;
	background-color: #EB497B;
	color: #fff;
	border: 0;
	margin-top: 180px;

}

.uitloggen {

	position: absolute;
	@include center;

	margin-top: 165px;

	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #fff;

}

.roulettePopUp {
	position: absolute;
	@include center;
	width: 260px;
	height: 160px;
	background-color: #FFF;
	border-radius: 10px;
	margin-top: 30px;

	display: none;

	p {

		text-align: center;
    font-family: 'rangeritalic_shadow';
		font-size: 1.4em;
		margin-top: 20px;

	}

	.btnProceed2 {

		text-transform: uppercase;
	  font-family: 'phosphateinlineroman';
		width: 230px;
		padding: 10px;
		font-size: 1.1em;
		cursor: pointer;
		background-color: #EB497B;
		color: #fff;
		border: 0;
		opacity: 1;
		margin-left: 15px;
		margin-top: 10px;
		border-radius: 5px;

	}

}


body h1 {
	display: none;
}



