	<!-- Landing page -->

	<section class="cd-intro">

		<img class="logo" src="assets/svg/logo.svg" alt="">

		<div class="alert alert-error" style="display:none;"></div>

		<div class="login">
		    <form method="post">
		    	<input id="inputEmail" type="text" name="u" placeholder="Email" required="required" />
		        <input id="inputPassword" type="password" name="p" placeholder="Wachtwoord" required="required" />
		        <button id="loginButton" type="submit" class="btn btn-primary btn-block btn-large">Log in</button>
		    </form>


		</div>



		<header class="cd-header">

			<a class="cd-menu-trigger" href="#main-nav"><span></span></a>

		</header>

	</section>
