	<ul>

		<li><a href="#0"><span>Home</span></a></li>
		<li><a href="#0"><span>Overzicht dagen</span></a></li>
		<li><a href="#0"><span>Klassement</span></a></li>
		<li><a href="#0"><span>Hall of fame</span></a></li>
		<li><a href="index.php?page=logout">Uitloggen</a></li>

	</ul>

	<div class="footer">

		<p>© Komen Gokken 2015 - All Rights reserved</p>

	</div>

	<a href="#0" class="cd-close-menu">Close<span></span></a>
