	<!-- Deelnemen -->

	<section class="cd-intro">

		<div class="default">

				<img class="titlebg2" src="assets/svg/titleBG.svg" alt="">

		</div>

		<header class="cd-header">

			<a class="cd-menu-trigger" href="#main-nav"><span></span></a>

		</header>

	</section>
