	<!-- Landing page -->

	<section class="cd-intro">

		<div class="mainApp">

			<div class="title">

					<img class="titlebg2" src="assets/svg/titleBG.svg" alt="">
					<p>Roulette</p>

				</div>

		</div>

		<img class="rouletteSVG" src="assets/svg/roulette.svg" alt="">

		<button class="btnProceed">Draai voor deel te nemen</button>

			<header class="cd-header">

				<a class="cd-menu-trigger" href="#main-nav"><span></span></a>

			</header>

	</section>
