	<!-- Landing page -->

	<section class="cd-intro">

		<div class="mainApp">

			<div class="title">

					<img class="titlebg2" src="assets/svg/titleBG.svg" alt="">
					<p>Roulette</p>

				</div>

		</div>

		<img class="rouletteSVG" src="assets/svg/roulette.svg" alt="">

		<img class="rouletteBol" src="assets/svg/bol.svg" alt="">

		<button class="btnProceed">Draai om deel te nemen</button>


	</section>


	<div class="roulettePopUp">

			<p>Proficiat !</br> U bent geselecteerd</p>
			<button class="btnProceed2">Ga verder</button>

	</div>
