	<!-- Landing page -->




	<section class="cd-intro">

		<div class="mainApp">

				<div class="title">

					<img class="titlebg2" src="assets/svg/titleBG.svg" alt="">
					<p>De slotmachine</p>

				</div>

		</div>

	</section>
