	<!-- Landing page -->

	<section class="cd-intro">

		<div class="mainApp">

				<div class="title">
					<img class="titlebg2" src="assets/svg/titleBG.svg" alt="">
					<p>De slotmachine</p>
				</div>

				<div class="slotmachine">
					<div id="slots">

					</div>

					<img src="assets/svg/slot.svg" alt="">
				</div>

				<button value="turn" type="submit" class="slotbutton">Bepaal beurten!</button>

		</div>

			<header class="cd-header">

				<a class="cd-menu-trigger" href="#main-nav"><span></span></a>

			</header>

	</section>
