	<!-- Landing page -->

	<section class="cd-intro">

		<div class="mainApp">

				<div class="title">
					<img class="titlebg2" src="assets/svg/titleBG.svg" alt="">
					<p>De slotmachine</p>
				</div>

				<div class="slotmachine">
					<div id="slots">

					</div>

					<img src="assets/svg/slot.svg" alt="">
				</div>

				<button value="turn" type="submit" class="slotbutton">Bepaal de dagindeling!</button>

		</div>

	</section>


	<div class="roulettePopUp">

			<p>Dag <span id="dag"></span> is het jouw beurt!</p>
			<button class="btnProceed2">Start u week!	</button>

	</div>
