	<!-- Landing page -->

	<section class="cd-intro">

		<p></p>

		<img class="slotmachine" src="assets/svg/slotmachine.svg" alt="">


		<header class="cd-header">

			<a class="cd-menu-trigger" href="#main-nav"><span></span></a>

		</header>

	</section>
